html {
    scroll-behavior: smooth;
}

.body-section {
    max-width: 1440px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 90px 50px;
}

.header__links-list {
    display: flex;
    width: 240px;
    white-space: nowrap;
    text-transform: lowercase;
    gap: 14px;
}

.list-item {
    list-style: none;
}

.header__list-item_bullit {
    list-style: circle inside;
}

.header__link_active {
    text-decoration: none;
    cursor: default;
}

.header__link_non-active {
    text-underline-offset: 0.3em;
    margin-left: -5px;
}

.header__logo {
    display: block;
    width: 140px;
}

.contacts {
    width: 240px;
    font-style: normal;
    line-height: 1.35;
}

.mail,
.phone {
    text-underline-offset: 0.23em;
}

.cover {
    position: relative;
    margin-bottom: 180px;
    padding: 165px 50px 50px;
    background-image: url('../images/cover.jpg');
    background-color: #c3c;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover__title {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    z-index: 1;
    letter-spacing: 30px;
    line-height: 1;
    margin-bottom: 135px;
}

.text_left {
    line-height: 1.15;
    text-align: left;
}

.text_center {
    display: block;
    margin: 20px 0;
    text-align: center;
}

.text_right {
    display: block;
    text-align: right;
    margin-right: -30px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
    z-index: 1;
    gap: 78px;
}

.cover__description-text {
    word-spacing: 18px;
}

.bet-button {
    text-decoration: none;
    padding: 12px 32px;
    border: 1px solid #fff;
}

.bet-button:hover {
    background-color: rgb(119, 40, 89);
}

.lots {
    margin: 0 50px 182px;
}

.lots__heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 30px;
}

.card-link {
    display: block;
    min-height: 450px;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

.card-link:hover {
    color: #bebebe;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    background-color: grey;
    text-underline-offset: 0.2em;
    height: 100%;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
    background-size: cover;
    background-position: center;
}

.card__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    color: #000;
    text-transform: lowercase;
    text-underline-offset: 0.3em;
}

.about {
    margin: 0 50px 180px;
    display: flex;
    gap: 25px;
    align-items: start;
}

.about__column-logo {
    width: 430px;
    padding: 0 95px;
}

.about__logo {
    width: 240px;
    height: 240px;
    padding: 63px 46px;
    border-radius: 50%;
    background-color: black;
}

.about__title {
    margin: 100px 0;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__text {
    margin-top: 25px;
    font-size: 20px;
}

.footer {
    display: flex;
    padding: 0 50px 90px;
    justify-content: space-between;
    align-items: start;
    font-size: 18px;
}

.footer__menu-list {
    list-style: none;
    text-transform: lowercase;
    text-align: center;
}

.footer__menu-link {
    text-underline-offset: 0.23em;
}

.footer__menu-link_active {
    text-decoration: none;
    cursor: default;
}

.footer__social-list {
    display: flex;
    width: 240px;
    justify-content: space-between;
    align-items: start;
    list-style: none;
}

.footer__social-list-item {
    height: 48px;
    border-radius: 50%;
}

.footer__social-list-item:hover {
    opacity: 0.5;
}

.footer__social-icon {
    height: 100%;
}