html {
    scroll-behavior: smooth;
}

.body-section {
    max-width: 1440px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 90px 50px;
}

.header__links-list {
    display: flex;
    width: 240px;
    white-space: nowrap;
    text-transform: lowercase;
    list-style-type: none;
    gap: 14px;
}

.header__list-item_bullit {
    list-style: circle inside;
}

.header__link_non-active {
    text-underline-offset: 0.3em;
    margin-left: -5px;
}

.header__logo {
    display: block;
    width: 140px;
}

.contacts {
    width: 240px;
    font-style: normal;
    line-height: 1.35; 
}

.mail,
.phone {
    text-underline-offset: 0.23em;
}

.cover {
    position: relative;
    padding: 165px 50px;
    background-image: url('../images/cover.jpg');
    background-color: #c3c;
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover__title {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    z-index: 1;
    letter-spacing: 30px;
    line-height: 1;
}

.text_left {
    line-height: 1.15;
    text-align: left;
}

.text_center {
    display: block;
    margin: 20px 0;
    text-align: center;
}

.text_right {
    display: block;
    text-align: right;
    margin-right: -30px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}